body{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}

a{
    width: 100%;
    margin-top: 1%;
}

.by{
    color: white;
    text-align: center;
}

.wish{
    background: rgba(0, 0, 0, 0.234);
    margin-bottom: 80px;
    font-size: 30px;
    margin-top: 40px;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

