mixin row(q1, q2, num)
    div(class='row', id='row'+num)
        div(class='q with_border', id='q_'+ num + '_left')=q1
        div(class='mid with_border', id='mid_'+num) Both
        div(class='q with_border', id='q_'+ num + '_right')=q2

mixin questions(N, q_l)
    -var i = 0
    -var c = 1
    while i < N
        -var j = 1 + i
        while j < N
            +row(q_l[i], q_l[j++], c++)
        -i++

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="https://code.jquery.com/jquery-1.10.2.js")
        script(src="scripts/compares.js")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
        link(rel="stylesheet", href="css/main-style.css")
        link(rel="stylesheet", href="css/1st-lab/compares.css")
        title Questions
    body
        center
            div(class='wish') Choose more worthy alternative of two in chain
            +questions(quest_num, quest_list)
            button(type="button" class="btn btn-success" id="submit") Send
            br
            br
